@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lusitana:wght@400;700&family=Manrope:wght@200..800&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-lato: 'Lato', sans-serif;
    --font-sansita: 'Sansita', sans-serif;
    --color-light-orange: #faefe6;
    --color-dark-orange: #EF7A54;
    --color-dark-green: #035346;
    --color-light-olive: #657069;
    --color-mint: #ebfffc;
}

@layer components {
    .global-padding {
        margin-inline-end: auto;
        margin-inline-start: auto ;
        max-inline-size: 75rem;
        padding-inline-start: 2.5rem;
        padding-inline-end: 2.5rem;
    }

    .zeal-heading-h2 {
        font-family: var(--font-sansita);
        color: var(--color-dark-green);
        font-size: 3rem;
        font-weight: 700;    
        line-height: 3.5rem;
    }

    .zeal-heading-h3 {
        font-family: var(--font-sansita);
        color: var(--color-dark-green);
        font-size: 2rem;
        font-weight: 700;    
        line-height: 2.5rem;
    }

    .zeal-heading-h4 {
        font-family: var(--font-sansita);
        color: white;
        font-size: 2.625rem;
        line-height: 3.375rem;
        font-weight: 700;
    }

    .hero-heading {
      font-family: var(--font-sansita);
      font-size: 4.5rem;
      font-weight: 700;
      color: var(--color-dark-green);
      line-height: 5rem;
      padding-block-end: 2rem;
      padding-block-start: 2rem;
    }

    .zeal-overline-text {
        color: var(--color-dark-orange);
        letter-spacing:.2em; 
        text-transform: uppercase;
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: 900;
    }

    .zeal-text-size-regular {
        font-size: 1.25rem;
        font-weight: 400;
        color: var(--color-light-olive);
        line-height: 2rem;
        
    }

    .zeal-text-size-small {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    .zeal-button {
        display: inline-block;
        font-family: var(--font-sansita);
        background-color: var(--color-dark-orange);
        color: white;
        padding: 1.1875rem 2.5rem;
        border-radius: 2.3rem;
        font-size: 1.5rem;
        line-height: 1.875rem;
        font-weight: 700;
        transition-property: transform, background-color, border-color, color;
        transition-duration: 250ms;
        transition-timing-function: ease;
    }

    .zeal-button:hover {
        background-color: white;
        border: 1px solid var(--color-dark-orange);
        color: var(--color-dark-orange);
    }

    .zeal-feature-icon-wrapper {
        background-color: var(--color-dark-orange) ;
        border-radius: 100%;
        min-height: 80px; 
        max-height: 80px; 
        max-width: 80px;
        min-width: 80px;
        justify-content: center;
        align-items: center;
        display: flex
    }

    .zeal-social-item {
        background-color: var(--color-dark-green);
        border-radius: 100%;
        min-height: 280px; 
        max-height: 280px; 
        max-width: 280px;
        min-width: 280px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .zeal-subscribe-text {
        color: var(--color-dark-orange);
        font-size: 1.5rem;
        font-family: var(--font-sansita);
        font-weight: 700;
        line-height: 1.875rem;
    }

    .zeal-price-tag {
        font-family: var(--font-sansita);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.9375rem;
        padding: .5rem 1.25rem;
        border-radius: 6.25rem;
        color: white;
        background-color: var(--color-dark-green);
    }

    .zeal-delicacy-item {
        background-color: var(--color-light-orange);
        border-radius: 3.125rem;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .zeal-form-input {
        border: 1px solid white;
        color: white;
        background-color: transparent;
        border-radius: 2.3125rem;
        min-height: 52px;
        margin-bottom: 1.25rem;
        padding: .9375rem 1.25rem;
        font-size: 1rem;
    }
}
